@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #051a18;
}

body{
    background: #f3fdfc;
}

.container{
    width: 1366px;
    margin: 0 auto;
}
.container h2 {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 50px;
    font-style: normal;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.31);
}

.artigos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.artigos article {
    background: #82b6e7;
    margin-bottom: 60px;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    text-align: left;
}
.artigos article a {
    text-align: right;
    color: #698fe2;
}

.artigos header time {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.artigos article h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}

.artigos p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    text-align: left;
}

.artigos article img {
    height: 180px;
}

.artigos article{
    width: 30%;
    text-align: center;
}